<div class="container">
  <div class="jumbotron text-center">
    <h1>BTC Manager</h1>
    <p>Store your Bitcoin addresses!  Keep track of your balances!</p>
  </div>
</div>









<div class="container">
  <div class="jumbotron col-md-6">
    <h1>Sign Up</h1>
    <%= render "users/form" %>
  </div>
  <div class="jumbotron col-md-6">
    <h1>Log In</h1>
    <%= render 'form' %>
  </div>
</div>
