<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand">BTC Manager</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to "Bitcoin Addresses?", "https://en.bitcoin.it/wiki/Address" %>

        <li><%= link_to 'Sign Up', new_user_path %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron text-center">
    <h1>BTC Manager</h1>
    <p>Store your Bitcoin addresses!  Keep track of your balances!</p>
  </div>
</div>

<div class="container">
  <div class="jumbotron">



    <h1>Log In</h1>
    <%= render 'form' %>
  </div>
</div>
</div>
