

<div class="container">
  <div class="jumbotron text-center">
    <h1>BTC Manager</h1>
    <p>Store your Bitcoin addresses!  Keep track of your balances!</p>
  </div>
</div>




<div class="welcome">
<div class="container">


<div class="col-md-6">
<div class="jumbotron text-center">
<%= link_to 'Log In', login_path %>

</div>
</div>
<div class="col-md-6">
<div class="jumbotron text-center">



<%= link_to 'Sign Up', new_user_path %>

</div>
</div>
</div>
</div>
