<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand">BTC Manager</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to "Home", users_path %>
        <li> <%= link_to "My Addresses", addresses_path %>
        <li> <%= link_to 'Log Out', logout_path, method: :delete %> </li>

      </ul>
    </div>
  </div>
</nav>


<div class="jumbotron">
<h1>Edit Address</h1>

<%= render 'form' %>


</div>
