<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand">BTC Manager</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>

      </ul>
    </div>
  </div>
</nav>


<h1><%= @address.label.capitalize %></h1>

<table>
  <thead>
    <td>
      Label:
    </td>
    <td>
      Address:
    </td>
    <td>
      Memo:
    </td>

  </thead>
  <tbody>
    <td>
      <%= @address.label %>
    </td>
    <td>
      <%= @address.loc %>
    </td>
    <td>
      <%= @address.memo %>
    </td>
  </tbody>
</table>
