<h1><%= @address.label.capitalize %></h1>

<table>
  <thead>
    <td>
      Label:
    </td>
    <td>
      Address:
    </td>
    <td>
      Memo:
    </td>

  </thead>
  <tbody>
    <td>
      <%= @address.label %>
    </td>
    <td>
      <%= @address.loc %>
    </td>
    <td>
      <%= @address.memo %>
    </td>
  </tbody>
</table>
